@import "../../../shared-services-module/websiteSettings/styleConfig.scss";

.hero {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: $hero_height;
  text-transform: uppercase;
  color: $hero_text_color;
  font-weight: bold;
  font-size: 1.9rem;
  font-family: $hero_font_familly;
  letter-spacing: 1px;
  position: relative;
  box-shadow: 0px 2px 5px black;
  & .blackLayer {
    z-index: 0;
    position: absolute;
    background-color: $hero_black_layaut_color;
    width: 100%;
    height: 100%;
    opacity: $hero_black_layaut_opacity;
  }
  & .welcome_text {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media all and (max-width:420px) {
      h1{
        font-size: 1.6rem;
      }
      h2{
        font-size: 1.35rem;
      }
      h3{
        font-size: 1.2rem;
      }
    }
  }
}
