<div class="hero">
    <div class="blackLayer"></div>
    <div class="welcome_text">
        <app-text-responsive>
            <p>{{'HERO.WELCOME_TO_OUR_SITE' | translate}}</p>
        </app-text-responsive>
        <app-text-responsive>
            <p>{{'HERO.WE_ENGAGE_TO_DELIVER' | translate}}
        </app-text-responsive>
        <app-text-responsive>
            <p>{{'HERO.THE_BEST_QUALITY' | translate}}</p>
        </app-text-responsive>
        <!-- <p class="hero_text">{{'HERO.WELCOME_TO_OUR_SITE' | translate}}</p>
        <p class="hero_text">{{'HERO.WE_ENGAGE_TO_DELIVER' | translate}}</p>
        <p class="hero_text">{{'HERO.THE_BEST_QUALITY' | translate}}</p> -->
    </div>    
</div>
