@import "../../shared-services-module/websiteSettings/styleConfig.scss";

$firstScreenBrakesAt: 600px;
$firstBrakeFontSize: 6vw;

$textNoGrowBreakPoint: 1040px;
$textNoGrowBreakPointFontSize: 2.3vw;

$firstScreenBrakesAt: 600px;
$firstBrakeFontSize_scoundaryText: 5.5vw;

$textNoGrowBreakPoint: 1040px;
$textNoGrowBreakPointFontSize_scoundaryText: 2vw;

$bottom_border_height_small_screen: 1.7vw;
$bottom_border_height_big_screen: 0.7vw;


.title_wrapper_primary {
  position: relative;
  width: fit-content;
  margin: 1.8rem auto 2.5rem auto;
  white-space: nowrap;
  &::after {
    content: "";
    position: absolute;
    width: 50%;
    left: 50%;
    top: 110%;
    transform: translateX(-50%);
    height:$bottom_border_height_big_screen;
    border-radius: 10px;
    background-color: $sectiontitle_bottomLineBG_primary;
  }
  @media all and (max-width: $firstScreenBrakesAt) {
    & {
      font-size: $firstBrakeFontSize;
      text-align: center;
      &::after {
        height: $bottom_border_height_small_screen;
      }
    }
  }

  @media all and (min-width: $textNoGrowBreakPoint) {
    & {
      font-size: $textNoGrowBreakPointFontSize;
    }
  }
}

.title_wrapper_secoundary {
  position: relative;
  width: fit-content;
  margin: 1rem auto;
  &::after {
    content: "";
    position: absolute;
    width: 50%;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    height:$bottom_border_height_big_screen;
    border-radius: 10px;
    background-color: $sectiontitle_bottomLineBG_secondary;
  }
  @media all and (max-width: $firstScreenBrakesAt) {
    & {
      font-size: $firstBrakeFontSize_scoundaryText;
      text-align: center;
      &::after {
        height: $bottom_border_height_small_screen;
      }
    }
  }
  @media all and (min-width: $textNoGrowBreakPoint) {
    & {
      font-size: $textNoGrowBreakPointFontSize_scoundaryText;
    }
  }
}
