@import "../../shared-services-module/websiteSettings/styleConfig.scss";

.title_wrapper_primary {
  font-size: $bordered_text_primary_font_size;
  position: relative;
  width: fit-content;
  margin: auto;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  &::after {
    content: "";
    position: absolute;
    width: 50%;
    left: 50%;
    top: $bordered_text_primary_border_top_distance;
    transform: translateX(-50%);
    height: $bordered_text_primary_border_height;
    border-radius: 10px;
    background-color: $bordered_text_primary_background_color;
  }
}

.title_wrapper_secoundary {
  font-size: $bordered_text_secoundary_font_size;
  font-weight: bold;
  position: relative;
  width: fit-content;
  margin: auto;
  &::after {
    content: "";
    position: absolute;
    width: 50%;
    left: 50%;
    top: $bordered_text_secoundary_border_top_distance;
    transform: translateX(-50%);
    height: $bordered_text_secoundary_border_height;
    border-radius: 10px;
    background-color: $bordered_text_secoundary_background_color;
  }
}
