@import "../../../shared-services-module/websiteSettings/styleConfig.scss";

@media all and (max-width: $smallSizeScreenBrakeDown) {
  .top_nav_for_desktop_version_only {
    display: none;
  }
}
.desktop_navbar_wrapper {
  font-size: $nav_bar_desktop_font_size;
  font-weight: $nav_bar_desktop_font_weight;
  height: $nav_bar_desktop_height;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  & a {
    font-size: inherit;
  }

  & .active {
    border-left: 2px solid $nav_bar_desktop_active_link_color;
    background-color: lighten($nav_bar_desktop_active_link_color, 15%);
    font-size: inherit;
    padding: 0.2rem 0.8rem;
  }

  & .lazurLogo {
    width: $nav_bar_logo_width;
    height: $nav_bar_logo_height;
    position: absolute;
    top: $nav_bar_logo_position_top;
    left: $nav_bar_logo_position_left;
  }

  @media all and (max-width: $nav_bar_desktop_no_display_screen_width) {
    & {
      display: none;
    }
  }
}

.mobile_navbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  & .menu_btn {
    cursor: pointer;
  }
  @media all and (min-width: $nav_bar_mobile_no_display_screen_width + 1) {
    & {
      display: none;
    }
  }
  & .lazurLogo {
    width: 135px;
    justify-self: flex-start;
  }
}

.fineBorder {
  border-bottom: 2px solid #ededed;
}

.mobile_view_menu {
  display: flex;
  flex-direction: column;
  width: $nav_bar_mobile_menu_width;
  text-transform: uppercase;
  background-color: $nav_bar_mobile_background_color;
  padding: 30px 0;
  border-radius: 0 3px 3px 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  height: 100%;

  & .mobileactive {
    color: $nav_bar_mobile_link_active_color;
    font-weight: bold;
    font-size: 17px;
  }

  & .navBarBackbtn {
    color: $nav_bar_mobile_back_link_color;
    font-weight: bold;
    align-self: center;
    margin-top: 50px;
    cursor: pointer;
  }

  & .callToActionMenu_forMobileVersion {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 10px;
  }
}
