<div *ngIf="!authService.isUserAuthenticated"
    class="login-wrapper h-50 d-flex justify-content-center align-items-center">
    <div class="login-box-wrapper mt-5">
        <div class="login-title pb-4 text-center">
            <app-text-with-border [borderColor]="'primary'">
                {{'LOGIN.LOGIN' | translate}}
            </app-text-with-border>
        </div>
        <form class="w-100" [formGroup]="loginForm">
            <div class="login-user-name">
                <mat-form-field class="w-100">
                    <input autocomplete="off" formControlName="userName" matInput placeholder="{{'LOGIN.USERNAME_OR_EMAIL' | translate}}">
                    <mat-error>
                        {{'LOGIN.USERNAME_OR_EMAIL_INVALID' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="login-password">
                <mat-form-field class="w-100">
                    <input autocomplete="off" formControlName="password" matInput type="password"
                        placeholder="{{'LOGIN.PASSWORD' | translate}}">
                    <mat-error>
                        {{'LOGIN.PASSWORD_INVALID' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button disabled="{{!loginForm.valid}}" mat-raised-button mat-button class="py-1">
                    <p (click)="subbmitLogin()" class="submitbtn">{{"LOGIN.ADMIN_LOGIN" | translate}}</p>
                </button>
            </div>
        </form>
        <div *ngIf="hasLoginFailed" class="mt-4 text-center alert alert-danger">
            {{'LOGIN.USERNAME_OR_EMAIL_INVALID' | translate}}
        </div>
    </div>
</div>