@import "../../../shared-services-module/websiteSettings/styleConfig.scss";

.login-wrapper {
  
  & .login-box-wrapper {
      width: 40%;
      @include setWidth($media-sm-width,80%);
  }

  & .submitbtn{
    margin: auto; /* Important */ 
    text-align: center; 
  }
}
