<!-- Top Navbar -->
<div class="top_nav pt-2">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-sm-8">
                <ul>
                    <li class="pr-3 ml-2"><a href="tel:{{siteConfig.phoneNumber}}"><span
                                class="fa fa-phone mr-2"></span>{{siteConfig.phoneNumber}}</a></li>
                    <li class="paddingTop">
                        <a href="mailto:{{siteConfig.email}}"><span class="fa fa-envelope mr-2"></span>CONTACT US</a>
                    </li>
                </ul>
            </div> -->
            <div class="col-sm-12 d-flex justify-content-end">
                <span class="languageSelect" *ngFor="let lang of availableLanguages">
                    <span (click)="switchLanguage(lang)">
                        <i class="fa fa-globe fa-1x icon-color-blue mr-1" aria-hidden="true"></i>
                        <span class="mr-3"
                            [ngClass]="{'activeLanguage': lang === currentSelectedLanguage}">{{lang}}</span>
                    </span>
                </span>
            </div>
        </div>
    </div><!-- Top Navbar end -->
</div>