/* Top Nav */
@import "../../../shared-services-module/websiteSettings/styleConfig.scss";

// Desktop view
.top_nav {
  font-size: $top_nav_font_size;
  background: $top_nav_background_color none repeat scroll 0 0;
  overflow: hidden;
  & .list-inline {
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  ul {
    li {
      list-style: none;
      display: inline-block;
      a {
        text-decoration: none;
        color: $top_nav_phone_and_email_color;
      }
    }
  }
  & .icon-color-blue {
    color: $top_nav_globe_color;
    &:hover {
      color: $top_nav_globe_color_on_hover;
    }
  }
  & .languageSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
  }

  & .activeLanguage {
    font-weight: bold;
    color: $top_nav_language_color;
    border-bottom: 2px solid $top_nav_language_color;
  }

  & .keepItemsTougether {
    display: inline-flex;
    flex-wrap: nowrap;
  }
}
