/* Top Nav */
@import "../../../shared-services-module/websiteSettings/styleConfig.scss";

// Desktop view
.top_nav {
  background: $navbar_background_color none repeat scroll 0 0;
  overflow: hidden;
  padding: 10px 0;
  font-size: 0.9rem;
  & .list-inline {
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: $smallSizeScreenBrakeDown) {
      & {
        justify-content: flex-start;
        padding-top: $topNavLanguagePaddingTop;
      }
    }
  }
  ul {
    li {
      list-style: none;
      display: inline-block;
      padding-right: 15px;
      a {
        text-decoration: none;
        color: $callToActionPhoneAndEmailColor;
      }
    }
  }
  & .icon-color-blue {
    color: $activeLanguageGlobeColor;
    &:hover {
      color: $activeLanguageGlobeColor_active;
    }
  }
  & .languageSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
  }

  & .activeLanguage {
    font-weight: bold;
    color: $activeLanguageColor;
    border-bottom: 2px solid $activeLanguageColor;
  }

  @media screen and (max-width: 373px) {
    .paddingTop{
      padding-top: 5px;
    }    
  }

  & .keepItemsTougether{
    display: inline-flex;
    flex-wrap: nowrap;
  }
}
