<div class="add_project_wrapper">
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12 mb-5">
                <app-text-with-border [borderColor]="'primary'">
                    {{'ADD_PROJECT.ADD_PROJECT' | translate}}
                </app-text-with-border>
            </div>
        </div>
        <form class="example-container" [formGroup]="addProjectForm">
            <div class="row">
                <div class="col-sm-12 col-md-6 offset-md-3">
                    <mat-form-field class="w-100">
                        <input autocomplete="off" formControlName="title" matInput placeholder="title">
                        <mat-error>
                            title is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 offset-md-3">
                    <mat-form-field class="w-100">
                        <textarea autocomplete="off" formControlName="description" matInput rows="3"
                            placeholder="description"></textarea>
                        <mat-error>
                            description is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 offset-md-3">
                    <mat-form-field class="w-100">
                        <input autocomplete="off" formControlName="locationArea" matInput placeholder="locationArea">
                        <mat-error>
                            description is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div formGroupName="characteristics">
                <div class="row">
                    <div class="col-sm-12 col-md-6 offset-md-3">
                        <mat-form-field class="w-100">
                            <input autocomplete="off" formControlName="workSurface" matInput placeholder="workSurface">
                            <mat-error>
                                workSurface is required and can only contain numbers
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 offset-md-3">
                        <mat-form-field class="w-100">
                            <input autocomplete="off" formControlName="workType" matInput placeholder="workType">
                            <mat-error>
                                workType is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="mb-3 mt-1">
                <div class="row">
                    <div class="col-sm-12 col-md-6 offset-md-3">
                        <input class="d-none" #fileUploadRef multiple accept="image/*" type="file" name="fileupload"
                            (change)="uploadFile($event)">
                        <div class="d-flex">
                            <div class="uploadImageBtn" (click)="fileUploadRef.click()">Upload Images</div>

                            <!-- strokeWidth="20" ca add to spinner -->
                            <mat-progress-spinner *ngIf="isFormUploading" class="spinner ml-5" [color]="color"
                                [mode]="mode" [value]="value" diameter="40">
                            </mat-progress-spinner>
                        </div>
                        <div *ngIf="!uploadResult.wasSuccesfull" class="mt-4 text-center alert alert-danger">
                            {{uploadResult.message}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 offset-md-3">
                    <div class="d-flex justify-content-center">
                        <button (click)="submitProject()" mat-raised-button mat-button class="py-1"
                            disabled="{{!addProjectForm.valid || isFormUploading}}">
                            Submit
                        </button>
                    </div>
                    <div *ngIf="successfullyUploadedMessage.wasSuccesfull" class="mt-4 text-center alert alert-success">
                        {{successfullyUploadedMessage.message}}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>