<div class="container my-4">
    <div class="row">
        <div class="col-12 col-sm-4 py-3 py-sm-0">
            <app-project-work-done-box>
                <card-image>
                    <img class="img-fluid my-3 max_img_card_width"
                        src="../../../../assets/project_work_done/project_work_done_pic2.jpg" />
                </card-image>
                <card-title>
                    {{'SERVICE_DESCRIPTION.DESIGN_PLANNING' | translate}}
                </card-title>
                <card-description>
                    {{'SERVICE_DESCRIPTION.FROM_THE_MOMENT_YOU' | translate}}
                </card-description>
            </app-project-work-done-box>
        </div>
        <div class="col-12 col-sm-4 py-3 py-sm-0">
            <app-project-work-done-box>
                <card-image>
                    <img class="img-fluid my-3 max_img_card_width"
                        src="../../../../assets/project_work_done/project_work_done_pic3.png" />
                </card-image>
                <card-title>
                    {{'SERVICE_DESCRIPTION.CONSTRUCTION_RESTORATION' | translate}}
                </card-title>
                <card-description>
                    {{'SERVICE_DESCRIPTION.OUR_DEDICATED_TEAM' | translate}}
                </card-description>
            </app-project-work-done-box>
        </div>
        <div class="col-12 col-sm-4 py-3 py-sm-0">
            <app-project-work-done-box>
                <card-image>
                    <img class="img-fluid my-3 max_img_card_width"
                        src="../../../../assets/project_work_done/project_work_done_pic4.png" />
                </card-image>
                <card-title>
                    {{'SERVICE_DESCRIPTION.INTERIORS' | translate}}
                </card-title>
                <card-description>
                    {{'SERVICE_DESCRIPTION.WE_DONT_JUST_BUILD' | translate}}
                </card-description>
            </app-project-work-done-box>
        </div>
    </div>
</div>