/* Top Nav */
$navbar_color: white; //#ededed;
$activeLanguageColor: #2c3e50;
$activeLanguageGlobeColor: #2c3e50;
$activeLanguageGlobeColor_active: #34495e;
$callToActionPhoneAndEmailColor: black;
$topNavLanguagePaddingTop:20px;

//nav bar - desktop
$activeButtonColor: #c3c8cc;
$activeBackgroundColor: #3498db;
$marginBottom: 10px;

//mobile nav
$mobNavBackgroundColor: #f9feff;
$navBarBackbtnColor:#2c3e50;
$mobileactiveLinkColor:#2c3e50;
$menuWidth:70%;

//hero
$heroContainerHight: 80%;
$heroTextColor:rgb(255, 247, 250);
$heroFontFamilly: "Baloo Bhai", cursive;
$heroImageLayerColor: black;
$heroImageLayerOpacity: 0.6;
