<section class="services_wrapper">
    <h2 class="services_title">Welcome to Sarl Lazur Concept</h2>
    <p class="services_description">
        Our Company provides the mobile equipment, tools, site planning, equipment maintenance, and supplies needed to help projects increase productivity, reduce costs and duplication, standardize equipment and tools, and finish on time and under budget.</p>
    <div class="containter-fluid">
        <div class="row services_presentation">
            <div class="col-lg-4 services_presentation_box_values services_presentation_box">
                <div class="textBox">
                    <div class="textBox_title">
                        Values
                    </div>   
                    <div class="textBox_content">
                        Quality, Trust, Independence, Individuality, Professionalism. These are the core values that define Lazur Concept's philosophy and sets a benchmark to guide us in our daily work and in the way we conduct our business. They are the foundations in our commitment to our customers, a commitment that is formed by trust, versatility and performance.
                    </div>                    
                </div> 
                <div class="darkenBox"></div>
            </div>
            <div class="col-lg-4 services_presentation_box_benefits services_presentation_box">
                <div class="textBox">
                    <div class="textBox_title">
                        Benefits
                    </div>      
                    <div class="textBox_content">
                        Our mission is for Lazur Concept to be the market leader within France offering an Independent Quality Auditing service and becoming an intrinsic part within all of Lazur Concept's clients businesses by proactively assessing the clients businesses and formulating and delivering solutions to any current and potential obstacles.
                    </div>                 
                </div>                 
                <div class="darkenBox"></div>
            </div>
            <div class="col-lg-4 services_presentation_box_services services_presentation_box">
                <div class="textBox">
                    <div class="textBox_title">
                        Services
                    </div>      
                    <div class="textBox_content">
                        Lazur Concept prides and differentiates itself within the telecommunication industry via Director level management overseeing the daily operation of the company to ensure a professional, timely and efficient delivery of service to its clients, using innovative and market led methods and initiatives whilst maintaining cost effectiveness.
                    </div>   
                </div>                  
                <div class="darkenBox"></div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</section>


