<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="map">
                <div class="map_wrapper">
                    <iframe class="iframe_settings"
                        src="https://maps.google.com/maps?q=avenue%20jean%20mermoz%2091320&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <!-- <a href="https://www.embedgooglemap.org"></a> -->
                </div>
            </div>
        </div>
    </div>
</div>