@import "../../../shared-services-module/websiteSettings/styleConfig.scss";

@media all and (max-width: $smallSizeScreenBrakeDown){
  .top_nav_for_desktop_version_only{
    display: none;
  }
}

.desktop_navbar_wrapper {
  height: 70px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-left: 20px;
  justify-content: flex-start;
  margin-top: -10px;
  margin-bottom: $marginBottom;
  & .active {
    border-left: 2px solid $activeButtonColor;
    background-color: lighten($activeButtonColor, 15%);
    font-weight: bold;
    // box-shadow: 0px 2px 5px lighten($activeBackgroundColor, 29%);
  }
  & .lazurLogo {
    width: 150px;
    margin: 0 20px;
  }

  @media all and (max-width: $smallSizeScreenBrakeDown) {
    & {
      display: none;
    }
  }
}

.mobile_navbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  & .menu_btn {
    padding-right: 20px;
    cursor: pointer;
  }
  @media all and (min-width: $smallSizeScreenBrakeDown + 1) {
    & {
      display: none;
    }
  }
  & .lazurLogo {
    width: 135px;
    margin-left: 20px;
    justify-self: flex-start;
  }
}

.fineBorder {
  border-bottom: 2px solid #ededed;
}

.mobile_view_menu {
  display: flex;
  flex-direction: column;
  width: $menuWidth;
  text-transform: uppercase;
  background-color: $mobNavBackgroundColor;
  padding: 30px 0;
  border-radius: 0 3px 3px 0;
  position: absolute;
  z-index: 1000;
  top: 0;
  height: 100%;

  & .mobileactive {
    color: $mobileactiveLinkColor;
    font-weight: bold;
    font-size: 17px;
  }

  & .navBarBackbtn {
    color: $navBarBackbtnColor;
    font-weight: bold;
    align-self: center;
    margin-top: 50px;
    cursor: pointer;
  }

  & .callToActionMenu_forMobileVersion{
    text-transform: lowercase;
    flex-grow: 1;
    display:flex;
    align-items: flex-end;
    margin-left: 10px;
  }
}
