<section class="services_wrapper">
    <div class="p-5">
        <app-text-with-border [borderColor]="'primary'">
            {{'SERVICES_INTRO.WELCOME_TO' | translate}} <wbr> {{'SERVICES_INTRO.SARL_LAZUR_CONCEPT' | translate}}
        </app-text-with-border>
    </div>
    
        <p class="text_reponsive">{{'SERVICES_INTRO.OUR_COMPANY_PROVIDES' | translate}}</p>
        <div class="container-fluid py-5 backgroundImageFit" [ngStyle]="{'background-image': servicesBackgroundImage}">
            <div class="row">
                <div class="col-lg-4 pb-3">
                    <div class="services_presentation">
                        <div class="services_presentation_box">
                            <div class="pt-3 pb-5">
                                <app-text-with-border [borderColor]="'secoundary'">
                                    {{'SERVICES_INTRO.VALUES' | translate}}
                                </app-text-with-border>
                            </div>                            
                            <div class="text_reponsive">
                                {{'SERVICES_INTRO.QULITY_TRUST' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 pb-3">
                    <div class="services_presentation">
                        <div class="services_presentation_box">
                            <div class="pt-3 pb-5">
                                <app-text-with-border [borderColor]="'secoundary'">
                                    {{'SERVICES_INTRO.BENEFITS' | translate}}
                                </app-text-with-border>
                            </div>                            
                            <div class="text_reponsive">
                                {{'SERVICES_INTRO.OUR_MISSION_IS' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 pb-3">
                    <div class="services_presentation">
                        <div class="services_presentation_box">
                            <div class="pt-3 pb-5">
                                <app-text-with-border [borderColor]="'secoundary'">
                                    {{'SERVICES_INTRO.SERVICES' | translate}}
                                </app-text-with-border>
                            </div>                            
                            <div class="text_reponsive">
                                {{'SERVICES_INTRO.LC_PRIDES_AND_DIFFERENCIETES' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>