@import "../../../shared-services-module/websiteSettings/styleConfig.scss";

.services_wrapper {
  .services_presentation {
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &_box {
      font-weight: bold;
      color: #f3f1f3;
      // text-shadow: 1px 1px rgb(146, 146, 146);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.95);
      border-radius: 10px;
    }
  }
}
