// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/scss/bootstrap.scss";

// Plus imports for other components in your app.
//smooth scrool
html {
  scroll-behavior: smooth;
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$manuapp-primary: mat-palette($mat-indigo);
$manuapp-accent: mat-palette($mat-pink, A200, A100, A400);

//scroolbar design
body::-webkit-scrollbar {
  width:15px;
  background:transparent; 
}

body::-webkit-scrollbar-thumb {
  background:rgba(75, 75, 75, 0.4) !important;
}

// The warn palette is optional (defaults to red).
$manuapp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$manuapp-theme: mat-light-theme($manuapp-primary, $manuapp-accent, $manuapp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($manuapp-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  & a:hover {
    text-decoration: none;
    color: black;
  }
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #484848;
}

.border {
  border: 2px solid blue;
}

.backgroundImageFit {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

html {
  font-size: 13px;
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
p,
li {
  font-size: 1rem;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 570px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 620px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 680px) {
  html {
    font-size: 17px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 19px;
  }
}
@media screen and (min-width: 860px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 920px) {
  html {
    font-size: 21px;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
@media screen and (min-width: 1500px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 2000px) {
  html {
    font-size: 30px;
  }
}
@media screen and (min-width: 2500px) {
  html {
    font-size: 35px;
  }
}
@media screen and (min-width: 3000px) {
  html {
    font-size: 40px;
  }
}
@media screen and (min-width: 3500px) {
  html {
    font-size: 45px;
  }
}
@media screen and (min-width: 4000px) {
  html {
    font-size: 50px;
  }
}
@media screen and (min-width: 4500px) {
  html {
    font-size: 45px;
  }
}

.inline-block {
  display: inline-block;
}
