<div class="container-fluid initial_font_settings">
    <div class="row p-lg-4 py-sm-3 py-3">
        <div class="col-md-6">
            <div class="address-contact">
                <div class="box_wrapper px-5 py-3">
                    <div class="address-box">
                        <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                        <div class="address_content ">
                            <span>{{addressConfig.firstLine}}</span><br />
                            <span>{{addressConfig.secoundLine}}</span>
                        </div>
                    </div>
                    <div class="phone_box pt-3">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <div class="phone_box_number">
                            <a href="tel:{{siteConfig.phoneNumber}}">
                                &nbsp;{{siteConfig.phoneNumber}}
                            </a>
                        </div>
                    </div>
                    <div class="email_me pt-3">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <div class="email_box">
                            <a href="mailto:{{siteConfig.email}}">{{siteConfig.email}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="about-follow pt-3 pt-md-0">
                <div class="box_wrapper px-5 py-3">
                    <div class="about-title">
                        <h4>{{'FOOTER.CONTACT_US' | translate}}</h4>
                    </div>
                    <div class="about-description pt-3">
                        {{'FOOTER.DONT_HESITATE' | translate}} <span class="text-uppercase inline-block">{{'FOOTER.QUOTE' | translate}}</span><br />
                        {{'FOOTER.AND_YOU_WILL_NOT_BE' | translate}}
                    </div>
                    <div class="social-media pt-3">
                        <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>