@import "../../shared-services-module/websiteSettings/styleConfig.scss";
$boxMarginLeft: 1.5rem;
$footer_background_color: #282c2f;
$footer_foreground_color: whitesmoke;
$footer_font_weight: bold;
$footer_main_font_size: 0.7rem;
$footer_box_width: fit-content;

.initial_font_settings {
  background-color: $footer_background_color;
  color: $footer_foreground_color;
  font-weight: $footer_font_weight;
  font-size: $footer_main_font_size;
}
.box_wrapper {
  width: $footer_box_width;
  background: rgba(#34495e, 0.3);
  border-radius: 60px 20px 60px 0px;
}

.address-contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .address-box {
    display: flex;
    align-items: center;
    & .address_content {
      margin-left: $boxMarginLeft;
    }
  }

  & .phone_box {
    display: flex;
    & .phone_box_number {
      & a {
        text-decoration: none;
        color: inherit;
      }
      margin-left: $boxMarginLeft;
    }
  }

  & .email_me {
    display: flex;
    & .email_box {
      & a {
        text-decoration: none;
        color: inherit;
      }
      margin-left: $boxMarginLeft;
    }
  }
}

.about-follow {
  display: flex;
  justify-content: center;
}
